@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");

:root {
  --primary-color: rgb(118, 97, 97);
  --primary-color-dark: rgb(60, 72, 77);
  --secondary-color: rgb(207, 179, 136);
  --text-dark: rgb(255, 253, 251);
  --text-light: rgb(108, 52, 40);
  --extra-light: rgb(159, 135, 114);
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
}

nav {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(141, 123, 104);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-family: "Sigmar", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(248, 241, 238);
  transition: 0.3s;
}
nav .logo a:hover {
  color: rgb(234, 198, 150);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 3rem;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  line-height: 3rem;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  padding-top: 10%;
  height: auto;
  width: 300px;
}
/*about section*/
.about,
.project {
  background-color: rgb(159, 135, 114);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__image,
.about__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about__content h2 {
  font-size: 50px;
}
.about__image img {
  max-width: 300px;
  border-radius: 50px;
}

.about__details {
  padding: 1rem 0;
  color: var(--text-light);
  text-align: center;
}

#about {
  margin-top: 50px;
}
section > h1 {
  text-align: center;
}
.about__container p {
  width: 62%;
  margin: 0px auto;
}
.about-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  padding-top: 40px;
}

/*portfolio*/
#portfolio {
  padding: 50px 0;
  margin-left: 75px;
  margin-right: 70px;
}
.products img {
  width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
}
.description h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.description p {
  color: white;
  font-size: 18px;
}
.products div {
  background: black;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  border-right: 10px;
  border-radius: 25px;
  transition: transform 0.7s;
}

.product-list {
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.title-1 {
  font-size: 60px;
  padding-left: 480px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;
}

.product-list:hover img {
  transform: scale(1.1);
}
.product-list:hover .description {
  height: 100%;
}
